@media (max-width: 768px) {
  .container {
    padding: 0;
    width: 100%;
  }
}
.logo {
  background: #e6e6e6 url(../images/logo.png) no-repeat center;
  text-indent: -9999px;
}

.logo h1 {
  margin: 0;
  padding: 0;
}

#header {
  height: 35px;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  padding: 10px;
  padding-bottom: 55px;
  min-height: 460px;
  overflow: hidden;
  width: inherit;
}

/**********/
#show-contact {
  background-image: url(../images/icons/macos.png);
}

#new-contact {
  background-image: url(../images/icons/creatwrite.png);
}

#new-chat {
  background-image: url(../images/icons/mail.png);
}

#disconnect {
  background-image: url(../images/icons/unlocked.png);
}

* {
  transform: translate3d(0, 0, 0);
}

body {
  font-family: Helvetica;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  margin: 0px;
  padding: 0px;
  height: 100%;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.button {
  padding: 1px;
  border: solid 1px #666;
  font-weight: bold;
}

.ui-widget-content {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#login_dialog label {
  float: left;
  line-height: 32px;
  z-index: 500;
  margin: auto;
}

#jid, #password {
  width: 196px;
  font-size: 14px;
}

/* chat */
#chat-area #chat-admin-softtodoserver {
  border: 1px solid #CCC;
  border-radius: 0px;
  padding: 0px 2px;
  margin-left: 5px;
}
#chat-area #chat-admin-softtodoserver button.sendMesage {
  font-size: 14px;
}

#chat-area
.ui-state-active {
  border: 1px solid #B9B9B9 !important;
  background: #f3f3f3 url(images/ui-bg_glass_50_99c2ff_1x400.png) 50% 50% repeat-x !important;
}

.ui-tabs .ui-tabs-nav {
  background: #F3F3F3;
  -webkit-border-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  padding: 5px 10px;
}

.roster-jid {
  font-size: 8px;
}

#roster-area {
  background-color: #000;
  border-left: solid 2px #ddd;
  padding: 10px;
  margin: 5px;
}

#toolbar {
  position: absolute;
  background-image: url(../images/nav-strip.png);
  background-repeat: repeat;
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0;
  z-index: 99999;
}

#toolbar .button {
  float: left;
  width: 23%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-position: center 6px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 22px;
  padding-top: 30px;
  opacity: 0.6;
  cursor: pointer;
}

/*** contact list ***/
#roster-area ul {
  padding-left: 10px;
  list-style: none;
}

#chat-area {
  float: left;
  width: 100%;
  height: 395px;
}

.chat-name {
  color: #fff;
}

.chat-message .me {
  color: #fff;
}

.chat-event {
  font-style: italic;
  font-size: 75%;
}

.chat-messages {
  height: 280px;
  font-size: 14px;
  border-bottom: solid 2px #ddd;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.message-wrap {
  opacity: 0,8;
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

.message-wrap .message {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
}

.message-wrap:first-child {
  margin-top: 6px;
}

.message-wrap input {
  -webkit-appearance: none;
}

.message-wrap .time {
  font-size: 12px;
  color: #999;
}

.chat-footer {
  overflow: hidden;
  border-top: 1px solid #cacaca;
  border-radius: 0 0 5px 5px;
}

.chat-footer .send_message {
  float: left;
  padding: 7px;
  width: 100%;
}

.chat-footer .send_message #message {
  display: none;
}

.chat-footer .send_message .message_field {
  float: left;
  width: -webkit-calc(100% - 95px);
  width: -moz-calc(100% - 95px);
  width: calc(100% - 95px);
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-family: inherit;
  border-radius: 50px;
}

.chat-footer .send_message button {
  float: right;
  height: 24px;
  line-height: 23px;
  margin-right: 15px;
}

#chat-area input {
  margin-top: 2px;
  height: 41px;
  width: 80%;
}

#roster-area {
  float: right;
  border-left: solid 2px #ddd;
  padding: 10px;
  width: 100%;
  height: 80%;
}

.roster-contact {
  padding: 3px;
}

.roster-contact:hover {
  background-color: #aaa;
  color: white;
}

.roster-name {
  font-size: 120%;
}

.roster-contact:hover {
  cursor: pointer;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.online {
  color: #3c3;
}

.away {
  color: #c33;
}

.offline {
  color: #ccc;
}

.chat-name {
  color: #fff;
}

#chat-area {
  background: #000;
}

.chat-input {
  float: left;
  width: 80;
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 12px;
  background: none repeat scroll 0% 0% #FFF;
  border: 1px solid #CACACA;
  font-family: inherit;
  border-radius: 6px;
}

.chat-message {
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

.chat-text {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #FFF;
  border-radius: 4px;
  padding: 5px;
}

/* Chat
==============================*/
#chat {
  display: none;
  height: 100%;
}

#chat .chat-header,
#chat .chat-footer {
  background: rgba(243, 243, 243, 0.9);
}

#chat .chat-header {
  padding: 13px;
  border-bottom: 1px solid #cacaca;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 55px;
  box-sizing: border-box;
  opacity: .8;
}

#chat .chat-header .room_name {
  display: block;
  float: left;
  line-height: 2px;
}

#chat .chat-header .logout {
  display: block;
  float: right;
  padding: 0 5px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

#chat .chat-header .logout:hover {
  opacity: 0.6;
}

#chat .scroller {
  height: -webkit-calc(100% - 41px);
  height: -moz-calc(100% - 41px);
  height: calc(100% - 41px);
  padding: 0 7px 0;
  background: #000;
}

#chat .chat-content {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 90%;
}

#chat .message-wrap {
  opacity: 0;
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

#chat .message-wrap:first-child {
  margin-top: 68px;
}

#chat .message-wrap .avatar {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 7px;
  margin-top: 10px;
  border-radius: 100px;
}

#chat .message-wrap .message {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
}

input {
  -webkit-appearance: none;
}

#chat .message-wrap .time {
  font-size: 12px;
  color: #999;
}

#chat .chat-footer {
  overflow: hidden;
  border-top: 1px solid #cacaca;
  border-radius: 0 0 5px 5px;
}

#chat .chat-footer .send_message {
  float: left;
  padding: 7px;
  width: 100%;
}

#chat .send_message #message {
  display: none;
}

#chat .send_message .message_field {
  float: left;
  width: -webkit-calc(100% - 95px);
  width: -moz-calc(100% - 95px);
  width: calc(100% - 95px);
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-family: inherit;
  border-radius: 50px;
}

#chat .send_message button {
  float: right;
  height: 24px;
  line-height: 23px;
  margin-right: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#chat .chat-footer .occupants {
  float: right;
  padding: 7px 7px 7px 10px;
  line-height: 26px;
  border-left: 1px solid #cacaca;
  display: none;
}

#chat .occupants img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}

/*** ***/
.sendMesage {
  margin-top: 2px;
  float: right;
  width: 18%;
  height: 40px;
  line-height: 23px;
  margin-right: 5px;
  display: block;
  padding: 0px 5px;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  font-family: Helvetica Neue,sans-serif;
}
