@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
@media (max-width: 768px) {
  .container {
    padding: 0;
    width: 100%;
  }
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400)");
}

/* logo */
.logo {
  background: #e6e6e6 url(../images/logo.png) no-repeat center;
  text-indent: -9999px;
}

.logo h1 {
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  overflow: hidden;
  display: block;
  z-index: 250;
  width: 100%;
  height: 44px;
  background-color: #000;
  color: #FFF;
  padding: 11px;
  text-align: center;
  font-size: 18px;
}

.container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 55px;
  min-height: 460px;
  overflow: hidden;
  width: inherit;
  padding-bottom: 65px;
  overflow: hidden;
  -moz-user-select: none;
}

/* Toolbar */
#toolbar {
  position: fixed;
  background-repeat: repeat;
  width: 100%;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  bottom: -4px;
  z-index: 250;
  background-color: #101010;
}

#toolbar .button {
  float: left;
  width: 20%;
  text-indent: -99999px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #101010;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 42px 107px;
  padding-top: 30px;
  opacity: 1;
  cursor: pointer;
}

#toolbar .button:hover {
  background-color: #4b4b4b;
}

#contact-btn {
  background: url(../images/icon/contact.png);
  background-position: center 6px;
}

#chat-btn {
  background-image: url(../images/icon/chat.png);
  background-position: center 6px;
}

#calendar-btn {
  background-image: url(../images/icon/calendar.png);
  background-position: center -55px !important;
}

#files-btn {
  background-image: url(../images/icon/files.png);
  background-position: center -55px !important;
}

#config-btn {
  background-image: url(../images/icon/config.png);
  background-position: center -55px !important;
}

* {
  -webkit-user-select: none;
  /* Prevent copy paste for all elements except text fields */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* set highlight color for user interaction */
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  /* set highlight color for user interaction */
  -ms-touch-action: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  /* prevent the popup menu on any links*/
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
}

input {
  -webkit-user-select: text;
}

body {
  font-family: Helvetica;
  height: 100%;
  background: url("../images/bg-image.jpg") no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.button {
  padding: 1px;
  border: solid 1px #666;
  font-weight: bold;
}

/* login */
.ui-dialog .ui-dialog-titlebar {
  padding: 5px 9px;
  position: relative;
}

/* chat */
#chat-area .ui-widget-content {
  border: 1px solid #CCC;
  border-radius: 0px;
  padding: 0px 2px;
  margin-left: 5px;
}

#chat-area .ui-state-active {
  border: 1px solid #B9B9B9 !important;
  background: #f3f3f3 url(images/ui-bg_glass_50_99c2ff_1x400.png) 50% 50% repeat-x !important;
}

.ui-widget-content {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.ui-dialog {
  top: 300px;
}

#brand {
  margin: 0 auto;
  background: url(../images/brand.png) 50% 50% no-repeat !important;
  width: 183px;
  height: 207px;
}

#login_dialog {
  margin: 0 auto;
  width: 250px;
}
#login_dialog h1 {
  font-family: 'Source Sans Pro';
  text-align: left;
  font-style: normal;
  font-weight: 200;
  color: #fff;
}
#login_dialog label {
  float: left;
  line-height: 32px;
  z-index: 500;
  margin: auto;
}
#login_dialog #jid, #login_dialog #password {
  margin: 10px 0;
  padding: 0 5px;
  display: block;
  width: 100%;
  font-size: 16px;
  height: 30px;
  color: #000;
  background: #fff;
  border: solid 1px #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#login_dialog #loginConnect, #login_dialog #signUpConnec {
  margin-bottom: 10px;
  display: block;
  border: solid 1px #101010;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  width: 100%;
  height: 35px;
}
#login_dialog #loginConnect {
  background: #101010 url("../images/arrow.png") no-repeat 90px;
}
#login_dialog #signUpConnec {
  background: #101010 url("../images/arrow.png") no-repeat 90px;
}

#signUp_dialog {
  margin: 0 auto;
  width: 250px;
}
#signUp_dialog #signTel, #signUp_dialog #signName, #signUp_dialog #signEmail, #signUp_dialog #signPassword, #signUp_dialog #signUpConnect {
  margin: 10px 0;
  padding: 0 5px;
  display: block;
  width: 100%;
  font-size: 16px;
  height: 30px;
  color: #000;
  background: #fff;
  border: solid 1px #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ui-state-active {
  border: 1px solid #B9B9B9 !important;
  /**/
  background: #f3f3f3 url(images/ui-bg_glass_50_99c2ff_1x400.png) 50% 50% repeat-x !important;
}

.ui-tabs .ui-tabs-nav {
  background: #F3F3F3;
  -webkit-border-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*** contact list ***/
#roster-area ul {
  padding-left: 10px;
  list-style: none;
}

.roster-jid {
  font-size: 8px;
}

#roster-area {
  background-color: #000;
  border-left: solid 2px #ddd;
  padding: 10px;
  margin: 5px;
}

#chat-area {
  float: left;
  width: 100%;
  height: 395px;
}

#chat-area span {
  font-size: 13px;
}

/* Chat message */
.chat-name {
  color: #fff;
}

.ui-tabs .ui-tabs-nav li a {
  float: left;
  text-decoration: none;
  padding: 5px 10px;
}

.chat-message .me {
  color: #fff;
}

.chat-event {
  font-style: italic;
  font-size: 75%;
}

.chat-messages {
  height: 280px;
  font-size: 14px;
  border-bottom: solid 2px #ddd;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.message-wrap {
  opacity: 0,8;
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

.message-wrap .message {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
}

.message-wrap:first-child {
  margin-top: 6px;
}

.message-wrap input {
  -webkit-appearance: none;
}

.message-wrap .time {
  font-size: 12px;
  color: #999;
}

.chat-footer {
  overflow: hidden;
  border-top: 1px solid #cacaca;
  border-radius: 0 0 5px 5px;
}

.chat-footer .send_message {
  float: left;
  padding: 7px;
  width: 100%;
}

.chat-footer .send_message #message {
  display: none;
}

.chat-footer .send_message .message_field {
  float: left;
  width: -webkit-calc(100% - 95px);
  width: -moz-calc(100% - 95px);
  width: calc(100% - 95px);
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-family: inherit;
  border-radius: 50px;
}

.chat-footer .send_message button {
  float: right;
  height: 24px;
  line-height: 23px;
  margin-right: 15px;
}

#chat-area input {
  margin-top: 2px;
  height: 24px;
  width: 200px;
}

#roster-area {
  float: left;
  border-left: solid 2px #ddd;
  padding: 10px;
  width: 100%;
  height: 80%;
}

.roster-contact {
  padding: 3px;
}

.roster-contact:hover {
  background-color: #aaa;
  color: white;
}

.roster-name {
  font-size: 120%;
}

.roster-contact:hover {
  cursor: pointer;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.online {
  color: #3c3;
}

.away {
  color: #c33;
}

.offline {
  color: #ccc;
}

.chat-name {
  color: #fff;
}

#chat-area {
  background: #000;
}

.chat-input {
  width: 80;
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 12px;
  background: none repeat scroll 0% 0% #FFF;
  border: 1px solid #CACACA;
  font-family: inherit;
  border-radius: 6px;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  float: left;
  font-family: inherit;
  font-size: 15px;
  line-height: 12px;
  margin-right: 7px;
  padding: 4px 5px;
}

.chat-message {
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

.chat-text {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #FFF;
  border-radius: 4px;
  padding: 5px;
}

button.sendMesage {
  background-color: #101010;
  text-indent: 0;
  border: 1px solid #101010;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: block;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 30px;
  line-height: 27px;
  width: 82px;
  text-decoration: none;
  text-align: center;
}

button.sendMesage:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}

button.sendMesage:active {
  position: relative;
  top: 1px;
}
