@media (max-width: 768px) {
  /* line 2, ../sass/main.scss */
  .container {
    padding: 0;
    width: 100%;
  }
}
/* line 7, ../sass/main.scss */
.logo {
  background: #e6e6e6 url(../images/logo.png) no-repeat center;
  text-indent: -9999px;
}

/* line 11, ../sass/main.scss */
.logo h1 {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/main.scss */
#header {
  height: 35px;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* line 24, ../sass/main.scss */
.container {
  padding: 10px;
  padding-bottom: 55px;
  min-height: 460px;
  overflow: hidden;
  width: inherit;
}

/**********/
/* line 33, ../sass/main.scss */
#show-contact {
  background-image: url(../images/icons/macos.png);
}

/* line 37, ../sass/main.scss */
#new-contact {
  background-image: url(../images/icons/creatwrite.png);
}

/* line 41, ../sass/main.scss */
#new-chat {
  background-image: url(../images/icons/mail.png);
}

/* line 45, ../sass/main.scss */
#disconnect {
  background-image: url(../images/icons/unlocked.png);
}

/* line 48, ../sass/main.scss */
* {
  transform: translate3d(0, 0, 0);
}

/* line 49, ../sass/main.scss */
body {
  font-family: Helvetica;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* line 58, ../sass/main.scss */
h1 {
  text-align: center;
}

/* line 62, ../sass/main.scss */
.hidden {
  display: none;
}

/* line 66, ../sass/main.scss */
.button {
  padding: 1px;
  border: solid 1px #666;
  font-weight: bold;
}

/* line 72, ../sass/main.scss */
.ui-widget-content {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 78, ../sass/main.scss */
#login_dialog label {
  float: left;
  line-height: 32px;
  z-index: 500;
  margin: auto;
}

/* line 85, ../sass/main.scss */
#jid, #password {
  width: 196px;
  font-size: 14px;
}

/* chat */
/* line 90, ../sass/main.scss */
#chat-area #chat-admin-softtodoserver {
  border: 1px solid #CCC;
  border-radius: 0px;
  padding: 0px 2px;
  margin-left: 5px;
}
/* line 95, ../sass/main.scss */
#chat-area #chat-admin-softtodoserver button.sendMesage {
  font-size: 14px;
}

/* line 101, ../sass/main.scss */
#chat-area
.ui-state-active {
  border: 1px solid #B9B9B9 !important;
  background: #f3f3f3 url(images/ui-bg_glass_50_99c2ff_1x400.png) 50% 50% repeat-x !important;
}

/* line 106, ../sass/main.scss */
.ui-tabs .ui-tabs-nav {
  background: #F3F3F3;
  -webkit-border-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 118, ../sass/main.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  padding: 5px 10px;
}

/* line 121, ../sass/main.scss */
.roster-jid {
  font-size: 8px;
}

/* line 124, ../sass/main.scss */
#roster-area {
  background-color: #000;
  border-left: solid 2px #ddd;
  padding: 10px;
  margin: 5px;
}

/* line 131, ../sass/main.scss */
#toolbar {
  position: absolute;
  background-image: url(../images/nav-strip.png);
  background-repeat: repeat;
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0;
  z-index: 99999;
}

/* line 141, ../sass/main.scss */
#toolbar .button {
  float: left;
  width: 23%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-position: center 6px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 22px;
  padding-top: 30px;
  opacity: 0.6;
  cursor: pointer;
}

/*** contact list ***/
/* line 159, ../sass/main.scss */
#roster-area ul {
  padding-left: 10px;
  list-style: none;
}

/* line 164, ../sass/main.scss */
#chat-area {
  float: left;
  width: 100%;
  height: 395px;
}

/* line 170, ../sass/main.scss */
.chat-name {
  color: #fff;
}

/* line 174, ../sass/main.scss */
.chat-message .me {
  color: #fff;
}

/* line 178, ../sass/main.scss */
.chat-event {
  font-style: italic;
  font-size: 75%;
}

/* line 183, ../sass/main.scss */
.chat-messages {
  height: 280px;
  font-size: 14px;
  border-bottom: solid 2px #ddd;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

/* line 192, ../sass/main.scss */
.message-wrap {
  opacity: 0,8;
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

/* line 198, ../sass/main.scss */
.message-wrap .message {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
}

/* line 208, ../sass/main.scss */
.message-wrap:first-child {
  margin-top: 6px;
}

/* line 212, ../sass/main.scss */
.message-wrap input {
  -webkit-appearance: none;
}

/* line 215, ../sass/main.scss */
.message-wrap .time {
  font-size: 12px;
  color: #999;
}

/* line 220, ../sass/main.scss */
.chat-footer {
  overflow: hidden;
  border-top: 1px solid #cacaca;
  border-radius: 0 0 5px 5px;
}

/* line 225, ../sass/main.scss */
.chat-footer .send_message {
  float: left;
  padding: 7px;
  width: 100%;
}

/* line 230, ../sass/main.scss */
.chat-footer .send_message #message {
  display: none;
}

/* line 233, ../sass/main.scss */
.chat-footer .send_message .message_field {
  float: left;
  width: -webkit-calc(100% - 95px);
  width: -moz-calc(100% - 95px);
  width: calc(100% - 95px);
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-family: inherit;
  border-radius: 50px;
}

/* line 248, ../sass/main.scss */
.chat-footer .send_message button {
  float: right;
  height: 24px;
  line-height: 23px;
  margin-right: 15px;
}

/* line 255, ../sass/main.scss */
#chat-area input {
  margin-top: 2px;
  height: 41px;
  width: 80%;
}

/* line 261, ../sass/main.scss */
#roster-area {
  float: right;
  border-left: solid 2px #ddd;
  padding: 10px;
  width: 100%;
  height: 80%;
}

/* line 269, ../sass/main.scss */
.roster-contact {
  padding: 3px;
}

/* line 273, ../sass/main.scss */
.roster-contact:hover {
  background-color: #aaa;
  color: white;
}

/* line 278, ../sass/main.scss */
.roster-name {
  font-size: 120%;
}

/* line 282, ../sass/main.scss */
.roster-contact:hover {
  cursor: pointer;
}

/* line 286, ../sass/main.scss */
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 292, ../sass/main.scss */
.online {
  color: #3c3;
}

/* line 296, ../sass/main.scss */
.away {
  color: #c33;
}

/* line 300, ../sass/main.scss */
.offline {
  color: #ccc;
}

/* line 304, ../sass/main.scss */
.chat-name {
  color: #fff;
}

/* line 308, ../sass/main.scss */
#chat-area {
  background: #000;
}

/* line 312, ../sass/main.scss */
.chat-input {
  float: left;
  width: 80;
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 12px;
  background: none repeat scroll 0% 0% #FFF;
  border: 1px solid #CACACA;
  font-family: inherit;
  border-radius: 6px;
}

/* line 325, ../sass/main.scss */
.chat-message {
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

/* line 331, ../sass/main.scss */
.chat-text {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #FFF;
  border-radius: 4px;
  padding: 5px;
}

/* Chat
==============================*/
/* line 343, ../sass/main.scss */
#chat {
  display: none;
  height: 100%;
}

/* line 349, ../sass/main.scss */
#chat .chat-header,
#chat .chat-footer {
  background: rgba(243, 243, 243, 0.9);
}

/* line 353, ../sass/main.scss */
#chat .chat-header {
  padding: 13px;
  border-bottom: 1px solid #cacaca;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 55px;
  box-sizing: border-box;
  opacity: .8;
}

/* line 366, ../sass/main.scss */
#chat .chat-header .room_name {
  display: block;
  float: left;
  line-height: 2px;
}

/* line 372, ../sass/main.scss */
#chat .chat-header .logout {
  display: block;
  float: right;
  padding: 0 5px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

/* line 382, ../sass/main.scss */
#chat .chat-header .logout:hover {
  opacity: 0.6;
}

/* line 386, ../sass/main.scss */
#chat .scroller {
  height: -webkit-calc(100% - 41px);
  height: -moz-calc(100% - 41px);
  height: calc(100% - 41px);
  padding: 0 7px 0;
  background: #000;
}

/* line 394, ../sass/main.scss */
#chat .chat-content {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 90%;
}

/* line 401, ../sass/main.scss */
#chat .message-wrap {
  opacity: 0;
  overflow: hidden;
  margin-bottom: 7px;
  padding: 5px;
}

/* line 408, ../sass/main.scss */
#chat .message-wrap:first-child {
  margin-top: 68px;
}

/* line 412, ../sass/main.scss */
#chat .message-wrap .avatar {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 7px;
  margin-top: 10px;
  border-radius: 100px;
}

/* line 421, ../sass/main.scss */
#chat .message-wrap .message {
  overflow: hidden;
  font-size: 14px;
  word-break: break-all;
  line-height: 16px;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
}

/* line 431, ../sass/main.scss */
input {
  -webkit-appearance: none;
}

/* line 435, ../sass/main.scss */
#chat .message-wrap .time {
  font-size: 12px;
  color: #999;
}

/* line 440, ../sass/main.scss */
#chat .chat-footer {
  overflow: hidden;
  border-top: 1px solid #cacaca;
  border-radius: 0 0 5px 5px;
}

/* line 446, ../sass/main.scss */
#chat .chat-footer .send_message {
  float: left;
  padding: 7px;
  width: 100%;
}

/* line 452, ../sass/main.scss */
#chat .send_message #message {
  display: none;
}

/* line 456, ../sass/main.scss */
#chat .send_message .message_field {
  float: left;
  width: -webkit-calc(100% - 95px);
  width: -moz-calc(100% - 95px);
  width: calc(100% - 95px);
  margin-right: 7px;
  padding: 3px 7px;
  font-size: 15px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-family: inherit;
  border-radius: 50px;
}

/* line 472, ../sass/main.scss */
#chat .send_message button {
  float: right;
  height: 24px;
  line-height: 23px;
  margin-right: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 482, ../sass/main.scss */
#chat .chat-footer .occupants {
  float: right;
  padding: 7px 7px 7px 10px;
  line-height: 26px;
  border-left: 1px solid #cacaca;
  display: none;
}

/* line 490, ../sass/main.scss */
#chat .occupants img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}

/*** ***/
/* line 498, ../sass/main.scss */
.sendMesage {
  margin-top: 2px;
  float: right;
  width: 18%;
  height: 40px;
  line-height: 23px;
  margin-right: 5px;
  display: block;
  padding: 0px 5px;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  font-family: Helvetica Neue,sans-serif;
}
